#controlHeader($action 'displayName' $action.getText("git.repository.display.name") true $displayParameters.noHeader)
	<input type="text" id="displayName" name="displayName" #if ($displayName) value="$textutils.htmlEncode($displayName)" #end />
#controlFooter($action "" $displayParameter.noHeader)

<tr>
	<td colspan=2 bgcolor=f0f0f0><b>$action.getText("git.repository.details")</b></td>
</tr>

#controlHeader($action 'repositoryUri' $action.getText("git.repository.repositoryUri") true $displayParameters.noHeader)
	<input type="text" id="repositoryUri" name="repositoryUri" #if ($repositoryUri) value="$textutils.htmlEncode($repositoryUri)" #end size="60" />
#controlFooter($action $action.getText("git.repository.repositoryUri.description") $displayParameter.noHeader)

#controlHeader($action 'privateKeyFile' $action.getText("git.repository.private.key.file") false $displayParameters.noHeader)
	<input type="text" id="privateKeyFile" name="privateKeyFile" #if ($privateKeyFile) value="$textutils.htmlEncode($privateKeyFile)" #end size="60" />
#controlFooter($action $action.getText("git.repository.private.key.file.description") $displayParameters.noHeader)

<tr>
    <td colspan=2 bgcolor=f0f0f0><b>$action.getText("git.repository.web.linking")</b></td>
</tr>

<script language="JavaScript" type="text/javascript">
    var linkFormatTypes = new Array();
    #foreach ($formatterEntry in $linkFormatTypes.keySet())
        linkFormatTypes["$formatterEntry"] = new Array();
        linkFormatTypes["$formatterEntry"]["fileViewFormat"] = '$action.escapeJavaScript($linkFormatTypes.get("$formatterEntry").fileViewFormat)';
        linkFormatTypes["$formatterEntry"]["changesetFormat"] = '$action.escapeJavaScript($linkFormatTypes.get("$formatterEntry").changesetFormat)';
        linkFormatTypes["$formatterEntry"]["fileAddedFormat"] = '$action.escapeJavaScript($linkFormatTypes.get("$formatterEntry").fileAddedFormat)';
        linkFormatTypes["$formatterEntry"]["fileModifiedFormat"] = '$action.escapeJavaScript($linkFormatTypes.get("$formatterEntry").fileModifiedFormat)';
        linkFormatTypes["$formatterEntry"]["fileReplacedFormat"] = '$action.escapeJavaScript($linkFormatTypes.get("$formatterEntry").fileReplacedFormat)';
        linkFormatTypes["$formatterEntry"]["fileDeletedFormat"] = '$action.escapeJavaScript($linkFormatTypes.get("$formatterEntry").fileDeletedFormat)';
    #end

    function getHost(repositoryUri) {
    	var start = 0;
    	var end = repositoryUri.length;
    	if (repositoryUri.indexOf("://") != -1) {
        	start = repositoryUri.indexOf("://") + 3;
        	end = repositoryUri.indexOf("/", start);
        }
        return "http://" + repositoryUri.substring(start, end);
    }

    function setWebLinkFormat(linkType, selectedType) {
        if (selectedType) {
            var linkFormat = linkFormatTypes[selectedType][linkType];
            linkFormat = linkFormat.replace("\${root}", getHost(document.getElementById("repositoryUri").value));
            document.getElementById(linkType).value = linkFormat;
        } else {
            document.getElementById(linkType).value = "";
        }
    }

    function handleLinkFormatTypeChanged() {
        var typeSelector = document.getElementById('linkFormatType');
        var selectedType = typeSelector.options[typeSelector.selectedIndex].value;
        setWebLinkFormat("fileViewFormat", selectedType);
        setWebLinkFormat("changesetFormat", selectedType);
        setWebLinkFormat("fileAddedFormat", selectedType);
        setWebLinkFormat("fileModifiedFormat", selectedType);
        setWebLinkFormat("fileReplacedFormat", selectedType);
        setWebLinkFormat("fileDeletedFormat", selectedType);
    }
</script>

#controlHeader($action 'linkFormatType' $action.getText("git.repository.link.format.type") false $displayParameters.noHeader)
	<select id="linkFormatType" name="linkFormatType" onchange="handleLinkFormatTypeChanged()">
    	<option></option>
    	#foreach ($currentType in $linkFormatTypes.keySet())
        	<option value="$textutils.htmlEncode($currentType)" #if ($linkFormatType && $linkFormatType == $currentType) selected="selected" #end>$textutils.htmlEncode($currentType)</option>
    	#end
	</select>
#controlFooter($action $action.getText("git.repository.link.format.type.description") $displayParameters.noHeader)

#controlHeader($action 'fileViewFormat' $action.getText("git.repository.view.format") false $displayParameters.noHeader)
	<input type="text" id="fileViewFormat" name="fileViewFormat" #if ($fileViewFormat) value="$textutils.htmlEncode($fileViewFormat)" #end  size="60"/>
#controlFooter($action '' $displayParameters.noHeader)

#controlHeader($action 'changesetFormat' $action.getText("git.repository.changeset.format") false $displayParameters.noHeader)
	<input type="text" id="changesetFormat" name="changesetFormat" #if ($changesetFormat) value="$textutils.htmlEncode($changesetFormat)" #end  size="60"/>
#controlFooter($action '' $displayParameters.noHeader)

#controlHeader($action 'fileAddedFormat' $action.getText("git.repository.file.added.format") false $displayParameters.noHeader)
	<input type="text" id="fileAddedFormat" name="fileAddedFormat" #if ($fileAddedFormat) value="$textutils.htmlEncode($fileAddedFormat)" #end  size="60"/>
#controlFooter($action '' $displayParameters.noHeader)

#controlHeader($action 'fileModifiedFormat' $action.getText("git.repository.file.modified.format") false $displayParameters.noHeader)
	<input type="text" id="fileModifiedFormat" name="fileModifiedFormat" #if ($fileModifiedFormat) value="$textutils.htmlEncode($fileModifiedFormat)" #end  size="60"/>
#controlFooter($action '' $displayParameters.noHeader)

#controlHeader($action 'fileReplacedFormat' $action.getText("git.repository.file.replaced.format") false $displayParameters.noHeader)
	<input type="text" id="fileReplacedFormat" name="fileReplacedFormat" #if ($fileReplacedFormat) value="$textutils.htmlEncode($fileReplacedFormat)" #end  size="60"/>
#controlFooter($action '' $displayParameters.noHeader)

#controlHeader($action 'fileDeletedFormat' $action.getText("git.repository.file.deleted.format") false $displayParameters.noHeader)
	<input type="text" id="fileDeletedFormat" name="fileDeletedFormat" #if ($fileDeletedFormat) value="$textutils.htmlEncode($fileDeletedFormat)" #end  size="60"/>
#controlFooter($action '' $displayParameters.noHeader)
